@font-face {
    font-family: ar-font;
    src: url(../fonts/Cairo-Regular.ttf);
}

body {
    font-family: ar-font;
    direction: rtl;
}

/*Navbar*/

/*Navbar*/

/*Navbar*/

/*Navbar*/

nav.navbar ul.navbar-nav {
    padding-right: 0;
    margin-right: auto;
}

nav.navbar ul.navbar-nav li a.nav-link {
    color: #e8e8e8e8;
    font-size: 16px;
    line-height: 40px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    transition: all 0.5s ease;
}
nav.navbar .navbar-brand img{
    width: 30%;
}
nav.navbar ul.navbar-nav li a.nav-link:hover, nav.navbar ul.navbar-nav li a.nav-link.active {
    background-color: #ffffff;
    color: #013064;
    border-radius: 15px;
}



nav.navbar.noTransparrent ul.navbar-nav li a.nav-link {
    color: #013064;
}

nav.navbar.noTransparrent ul.navbar-nav li a.nav-link:hover, nav.navbar.noTransparrent ul.navbar-nav li a.nav-link.active {
    color: #63120B;
}



nav.navbar.noTransparrent {
    background-color: #fffdfd;
    border-bottom: 1px solid #eee;
}

nav.navbar button.navbar-toggler {
    margin: 30px auto;
    transition: all 1s ease;
}

nav.navbar button.navbar-toggler span {
    color: #ffffff;
}

nav.navbar.noTransparrent button.navbar-toggler span {
    color: #013064;
}

/*header*/

/*header*/

/*header*/

/*header*/

/*header*/

header {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    max-width: 100vw;
}

header .overlay {
    background: linear-gradient(to right, #012f64cb 0%, #63120bc5 100%);
    height: 100vh;
}

header .overlay .slider .carousel-inner .carousel-item {
    min-height: 100vh;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

header .overlay .slider .carousel-inner .carousel-item.active {
    opacity: 1;
}

header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption {
    opacity: 1;
}

header .overlay .slider .carousel-inner .carousel-item .carousel-caption h3 {
    font-size: 40px;
    line-height: 60px;
    transform: translateY(-50px);
    transition: all 1s ease;
}

header .overlay .slider .carousel-inner .carousel-item .carousel-caption {
    bottom: 30%;
}

header .overlay .slider .carousel-inner .carousel-item .carousel-caption a {
    font-size: 18px;
    color: #ffffff;
    background-color: #013064;
    line-height: 50px;
    border-radius: 30px;
    padding: 0 2rem;
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;
    transform: translateY(50px);
    transition: all 1s ease;
}

header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption a, header .overlay .slider .carousel-inner .carousel-item.active .carousel-caption h3 {
    transform: translateY(0px);
}

header .overlay .slider .carousel-inner .carousel-item .carousel-caption a:hover {
    background-color: #63120B;
    color: #555555;
}

header .overlay .slider .carousel-control-prev span, header .overlay .slider .carousel-control-next span {
    border: 1px solid #ffffff;
    border-radius: 2px;
    padding: 30px 20px;
}

header .overlay .slider .carousel-control-prev {
    left: 20px;
}

header .overlay .slider .carousel-control-next {
    right: 20px;
}

/*services*/

/*services*/

/*services*/

/*services*/

/*services*/

/*services*/

/*services*/

section.services {
    padding: 80px 0;
}

section.services .title h2 {
    font-size: 40px;
    line-height: 60px;
}

section.services .title {
    margin-bottom: 50px;
}

section.services .card {
    background-color: #ffffff;
    width: 100%;
    border: none;
    border-radius: 20px;
    filter:  drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.171));
    padding: 0px 20px 20px 20px ;
    transition: height 1s ease;

}




section.services .card img {
    width: 40%;
    margin: 40px auto 0;
}

section.services .card .card-block h4 {
    font-size: 20px;
    color: #070c0c;
    line-height: 35px;
    margin-top: 20px;
}

section.services .card .card-block p {
    font-size: 15px;
    line-height: 20px;
    color: #919191;
    display: none;
    transition: display 1s linear;

}

section.services .card:hover .card-block p {
    display: block;
    transition: 1s ease all;

}

/*gallery*/

/*gallery*/

/*gallery*/

/*gallery*/

/*gallery*/

/*gallery*/

section.gallery .title h2 {
    font-size: 40px;
    line-height: 60px;
}

section.gallery .title {
    margin-bottom: 50px;
}

section.gallery .work-gallery a {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

section.gallery .work-gallery a .hover {
    background-color: rgba(1, 47, 100, 0.801);
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    color: #fff;
    opacity: 0;
    transition: all .5s ease;
}

section.gallery .work-gallery a:hover .hover {
    opacity: 1;
}

section.gallery .work-gallery .overlay-gallery {
    background-color: #013064;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 2000;
    overflow: hidden;
    padding: 5% 10%;
    display: none;
    transition: all 1s ease;
    margin-top: -100vh;
}

section.gallery .work-gallery .overlay-gallery:target {
    display: block;
    margin-top: 0;
}

section.gallery .work-gallery .overlay-gallery img {
    width: 20%;
}

section.gallery .work-gallery .overlay-gallery .gallery-text h3 {
    font-size: 36px;
    line-height: 52px;
    color: white;
    margin-bottom: 30px;
    font-weight: bolder;
}

section.gallery .work-gallery .overlay-gallery .gallery-text ul {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #efefef;
    padding-right: 0;
}

section.gallery .work-gallery .overlay-gallery .gallery-text ul li a,section.gallery .work-gallery .overlay-gallery .gallery-text ul li svg {
    color: white;
    text-decoration: none;
}

section.gallery .work-gallery .overlay-gallery .gallery-text p {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 50px;
    color: #919191;
}

section.gallery .work-gallery .overlay-gallery .gallery-text a.visit {
    font-size: 20px;
    line-height: 50px;
    border-radius: 25px;
    padding: 0px 30px;
    background-color: #013064;
    color: #ffffff;
    text-decoration: none;
}

section.gallery .work-gallery .overlay-gallery .gallery-text {
    margin-top: 40px;
}

section.gallery .work-gallery .overlay-gallery a.close {
    color: white;
    position: absolute;
    font-size: 50px;
    top: 4%;
    left: 10%;
    font-weight: bold;
    text-decoration: none;
}

section.gallery .work-gallery a .hover span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
}

/*statistics*/

/*statistics*/

/*statistics*/

/*statistics*/

/*statistics*/

/*statistics*/

/*statistics*/

section.statistics {
    background-image: url(../images/bg2.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

section.statistics .overlay {
    background-color: rgba(1, 47, 100, 0.808);
    padding: 100px 0;
}

section.statistics .overlay .stat p {
    font-size: 18px;
    color: #85ecff;
    line-height: 22px;
}

section.statistics .overlay .stat .count {
    font-size: 40px;
    line-height: 60px;
    font-weight: bold;
    color: #ddfaff;
}

/*contacts*/

/*contacts*/

/*contacts*/

/*contacts*/

/*contacts*/

/*contacts*/

/*contacts*/

section.contacts {
    background-color: #ffffff;
    padding-top: 120px;
    text-align: right;
}

section.contacts .info h3 {
    font-size: 24px;
    line-height: 50px;
    color: #181c1c;
    font-weight: bold;
}

section.contacts .info ul li {
    font-size: 18px;
    line-height: 25px;
    color: #013064;
    margin-bottom: 15px;
}

section.contacts .info ul {
    padding: 0;
}

section.contacts .info {
    margin-right: 50px;
}

section.contacts .info ul li {
    font-size: 18px;
    line-height: 25px;
    color: #013064;
    margin-bottom: 15px;
}

section.contacts .info ul li i {
    margin-left: 10px;
}

#map {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 10px;
}

section.contacts .form h3 {
    font-size: 24px;
    line-height: 50px;
    color: #181c1c;
    font-weight: bold;
    margin: 50px auto 20px;
}

section.contacts .form form input, section.contacts .form form textarea {
    background-color: #f7f7f7;
    border: 2px solid #eee;
    border-radius: 3px;
    color: #5c5c5c;
    font-family: ar-font;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
}

section.contacts .form form button {
    background-color: #013064;
    width: 15%;
    text-align: center;
    font-family: ar-font;
    color: #ffffff;
    font-size: 15px;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    border: 0;
    margin-right: 15px;
}

section.contacts .cmxform {
    width: 100%;
    margin: 0 auto 50px;
}

section.contacts .form form .error {
    color: red;
}
section.contacts .cmxform input{
    padding: 15px 30px ;
}
section.contacts .cmxform input,section.contacts .cmxform  textarea{
    background-color: rgb(207, 207, 207);
    border-radius: 15px;
    border: none;
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.103));

}

/*footer*/

/*footer*/

/*footer*/

/*footer*/

/*footer*/

/*footer*/

/*footer*/

footer .top-footer {
    background-color: #171717;
    padding: 75px 0;
}

footer .top-footer h3 {
    font-size: 18px;
    margin-bottom: 30px;
    color: white;
    line-height: 45px;
    font-weight: bolder;
    position: relative;
}

footer .top-footer h3::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 2px;
    background-color: #5c5c5c;
}

footer .top-footer p {
    font-size: 15px;
    color: #919191;
    line-height: 22px;
    margin-bottom: 50px;
}

footer .top-footer ul {
    padding: 0;
 
}
footer .top-footer ul.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
footer .top-footer ul.social li {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 35px;
    border-radius: 15px;
    background-color: #333333;
    margin-right: 5px;
    transition: all .5s ease;
    position: relative;
   

}

footer .top-footer ul.social li a {
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

footer .top-footer ul.contact-us li {
    margin-bottom: 35px;
    font-size: 18px;
    color: #676767;
    display: flex;
    align-items: center;
}

footer .top-footer ul.contact-us li:last-of-type {
    margin-bottom: 0px;
}

footer .top-footer ul.contact-us li .icons {
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #013064;
    line-height: 35px;
    border-radius: 15px;
    color: #ffffff;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

footer .copyright {
    background-color: #111111;
}

footer .copyright p {
    line-height: 78px;
    font-size: 15px;
    color: #919191;
    margin-bottom: 0;
}

/*media*/

/*media*/

/*media*/

/*media*/

/*media*/

/*media*/

/*media*/

/*media*/

@media (max-width: 980px) {
    nav.navbar ul.navbar-nav li a.nav-link {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    header .overlay .slider .carousel-inner .carousel-item .carousel-caption h3 {
        font-size: 30px;
    }

    header .overlay .slider .carousel-inner .carousel-item .carousel-caption {
        bottom: 25%;
    }

   
}

footer .top-footer ul.social li:hover {
    background-color: #013064;
}

@media (max-width:767px) {
   

    nav.navbar .navbar-brand  {
        width: 30%;
    }

    nav.navbar .navbar-collapse {
        background-color: #013064;
    }

    .navbar .navbar-toggler span {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav.navbar.noTransparrent .navbar-collapse {
        background-color: #ffffff;
    }

    nav.navbar .container {
        max-width: 100%;
        flex-direction: row-reverse;
    }

    .navbar .navbar-toggler {
        outline: none;
        margin: 0 !important;
    }

    section.gallery .work-gallery .overlay-gallery .gallery-text h3 {
        font-size: 18px;
        line-height: 36px;
        margin-bottom: 10px;
    }

    section.gallery .work-gallery .overlay-gallery .gallery-text p {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 30px;
    }

    section.gallery .work-gallery .overlay-gallery .gallery-text a.visit {
        font-size: 14px;
        line-height: 40px;
    }

    section.contacts .cmxform {
        width: 100%;
    }
    
}

@media (max-width: 575px) {
    header .overlay .slider .carousel-inner .carousel-item .carousel-caption {
        left: 2%;
        right: 2%;
    }

    header .overlay .slider .carousel-control-prev, header .overlay .slider .carousel-control-next {
        display: none;
    }

    .work-gallery .col-md>.col-sm>a {
        display: block !important;
    }

    .work-gallery .col-md>.col-sm>a img {
        width: 100%;
    }

    section.gallery .work-gallery .overlay-gallery img {
        width: 50%;
    }
}